<nav class="navbar bg-dark">
  <h1>
    <a routerLink="/">DevConnector</a>
  </h1>
  <ul>
    <li><a routerLink="/developers">Developers</a></li>

    <!-- if user is NOT authenticated -->
    <li *ngIf="!isAuthed"><a routerLink="/register">Register</a></li>
    <li *ngIf="!isAuthed"><a routerLink="/login">Login</a></li>

    <!-- if user is authenticated -->
    <li *ngIf="isAuthed"><a routerLink="/posts">Posts</a></li>
    <li *ngIf="isAuthed"><a routerLink="/dashboard">Dashboard</a></li>
    <li *ngIf="isAuthed"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
