<section class="container">
  <h1 class="large text-primary">Sign Up</h1>
  <p class="lead"><i class="fas fa-user"></i> Create Your Account</p>

  <!-- Alert Messages-->
  <ul *ngIf="alerts.length > 0">
    <li *ngFor="let alert of alerts">
      <app-alert
        [alertType]="alert.alertType"
        [alertMessage]="alert.alertMessage"
      ></app-alert>
    </li>
  </ul>

  <form class="form" action="create-profile.html">
    <div class="form-group">
      <input
        type="text"
        placeholder="Name"
        name="name"
        [(ngModel)]="name"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        placeholder="Email Address"
        name="email"
        [(ngModel)]="email"
      />
      <small class="form-text"
        >This site uses Gravatar so if you want a profile image, use a Gravatar
        email</small
      >
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="password"
        minLength="6"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Confirm Password"
        name="password2"
        [(ngModel)]="password2"
        minLength="6"
      />
    </div>
    <input
      type="submit"
      class="btn btn-primary"
      value="Register"
      (click)="register()"
    />
  </form>
  <p class="my-1">
    Already have an account? <a routerLink="/login">Sign In</a>
  </p>
</section>
